
.segment-control{
    display: table;
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}
.segment-item {
    display: inline-block;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-radius: 2px;
    padding: 5px;
    margin: 0 -1px -1px 0;
    cursor: pointer;
}
.segment-item:first-child{
    border-left: 1px solid #ddd
}
.segment-item:last-child{
    border-right: 1px solid #ddd
}
.segment-active{
    background: black;
    color: white;
}
#all-stars{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
#all-stars>img{
width: 2%;
}

#all-stars>img:hover{
    content: url('https://www.pinclipart.com/picdir/big/33-337440_stars-star-transparent-background-star-clipart-png.png')
}
#all-stars>img:hover~img{
    content: url('https://www.pinclipart.com/picdir/big/33-337440_stars-star-transparent-background-star-clipart-png.png')

}
.hastag-box{
    width: 500px;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
    background: whitesmoke;
}
.tag{
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
}
.tag:hover{
    background: orange;
    color: white;
}
.tag-active{
    background: orange;
    color: white;
}