body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input{
  margin-left: 20px;
}

.input-test{
  margin-top: 10px;
}
button{
  color: white;
  background-color:burlywood;
  border: none;
  border-radius: 5px;
  height: 50px;
  margin-top: 10px;
}
button:active{
  border: none
}
.segment{
  margin-left: auto;
  margin-right: auto;
}